{% extends 'base.html' %}
{% load static %}

{% block root %}

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>

<link rel="stylesheet" href="{% static 'css/card.css' %}">
<header class="bg-success py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Medical Insurance</h1>
          <p class="lead fw-normal text-white-50 mb-0">By estimating the overall risk of health risk and health system expenses over the risk pool, an insurer can develop a routine finance structure, such as a monthly premium or payroll tax, to provide the money to pay for the health care benefits specified in the insurance agreement.
        </p>
      </div>
  </div>
</header>


{% endblock %}