{% extends 'base.html' %}
{% load static %}

{% block root %}
<br>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>

<link rel="stylesheet" href="{% static 'css/card.css' %}">
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">User Application</li>
    </ol>
</nav>

<br>


<br>
<div class="container">


    <form  method="post">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" disabled class="form-control" name="pp" value="Jeevan Policy 100 days"required>
        </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="name" placeholder="Name" required>
      </div>
      <div class="mb-3">
        <input type="number" class="form-control" name="adhar" placeholder="AdharNumber" required>
      </div>
      <div class="mb-3">
        <input type="date" class="form-control" name="dob" placeholder="date Of birth" required>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="father" placeholder="Father Name" required>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="mother" placeholder="Mothe Name" required>
      </div>
      <div class="mb-3">
        <textarea class="form-control" name="address" placeholder="Address" id="address" cols="20" rows="4"></textarea>
      </div>
      <div class="mb-3">
        <select name="status" id="status" class="form-control">
          <option value="0">Single</option>
          <option value="1">Married</option>
        </select>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="quli" placeholder="Qulification" required>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="pob" placeholder="Place of Bith" required>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="pan" placeholder="PAN Number" required>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="occ" placeholder="Occupation" required>
      </div>
      <div class="mb-3">
        <input type="number" class="form-control" name="inc" placeholder="Anual Income" required>
      </div>
      

      <div class="btn-group" style="width: 100%;" role="group" aria-label="Basic mixed styles example">
        <button type="submit" style="width: 60%;" class="btn btn-success" >Apply</button>
        <button type="reset" style="width: 40%;" class="btn btn-danger" >Clear</button>
        
      </div>
      <br><br><br>
    </form>
</div>

{% endblock %}